body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1417px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1076px;
  height:678px;
}
#u1171 {
  position:absolute;
  left:49px;
  top:80px;
  width:1076px;
  height:678px;
}
#u1172 {
  position:absolute;
  left:2px;
  top:331px;
  width:1072px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:22px;
}
#u1173 {
  position:absolute;
  left:266px;
  top:426px;
  width:21px;
  height:22px;
}
#u1174 {
  position:absolute;
  left:2px;
  top:3px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:785px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1175 {
  position:absolute;
  left:329px;
  top:95px;
  width:785px;
  height:196px;
}
#u1176 {
  position:absolute;
  left:2px;
  top:90px;
  width:781px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:54px;
  background:inherit;
  background-color:rgba(58, 173, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1177 {
  position:absolute;
  left:16px;
  top:10px;
  width:1401px;
  height:54px;
}
#u1178 {
  position:absolute;
  left:2px;
  top:19px;
  width:1397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1179_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1179 {
  position:absolute;
  left:107px;
  top:25px;
  width:109px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1180 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1181 {
  position:absolute;
  left:621px;
  top:137px;
  width:103px;
  height:40px;
}
#u1182 {
  position:absolute;
  left:2px;
  top:11px;
  width:99px;
  word-wrap:break-word;
}
#u1183_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1183 {
  position:absolute;
  left:745px;
  top:143px;
  width:78px;
  height:29px;
}
#u1184 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u1185_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1185 {
  position:absolute;
  left:362px;
  top:251px;
  width:103px;
  height:40px;
}
#u1186 {
  position:absolute;
  left:2px;
  top:11px;
  width:99px;
  word-wrap:break-word;
}
#u1187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1187 {
  position:absolute;
  left:621px;
  top:251px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1188 {
  position:absolute;
  left:2px;
  top:11px;
  width:99px;
  word-wrap:break-word;
}
#u1189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1189 {
  position:absolute;
  left:858px;
  top:251px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1190 {
  position:absolute;
  left:2px;
  top:11px;
  width:99px;
  word-wrap:break-word;
}
#u1191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1191 {
  position:absolute;
  left:484px;
  top:257px;
  width:78px;
  height:29px;
}
#u1192 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u1193_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1193 {
  position:absolute;
  left:745px;
  top:257px;
  width:78px;
  height:29px;
}
#u1194 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u1195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1195 {
  position:absolute;
  left:984px;
  top:257px;
  width:78px;
  height:29px;
}
#u1196 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u1197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1197 {
  position:absolute;
  left:336px;
  top:368px;
  width:103px;
  height:40px;
}
#u1198 {
  position:absolute;
  left:2px;
  top:11px;
  width:99px;
  word-wrap:break-word;
}
#u1199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1199 {
  position:absolute;
  left:632px;
  top:369px;
  width:103px;
  height:40px;
}
#u1200 {
  position:absolute;
  left:2px;
  top:11px;
  width:99px;
  word-wrap:break-word;
}
#u1201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1201 {
  position:absolute;
  left:449px;
  top:374px;
  width:78px;
  height:29px;
}
#u1202 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u1203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1203 {
  position:absolute;
  left:745px;
  top:375px;
  width:78px;
  height:29px;
}
#u1204 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u1205 {
  position:absolute;
  left:673px;
  top:177px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1205_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:78px;
}
#u1205_seg1 {
  position:absolute;
  left:-10px;
  top:61px;
  width:20px;
  height:20px;
}
#u1206 {
  position:absolute;
  left:-50px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207 {
  position:absolute;
  left:673px;
  top:177px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1207_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u1207_seg1 {
  position:absolute;
  left:-263px;
  top:59px;
  width:267px;
  height:8px;
}
#u1207_seg2 {
  position:absolute;
  left:-263px;
  top:59px;
  width:8px;
  height:15px;
}
#u1207_seg3 {
  position:absolute;
  left:-269px;
  top:61px;
  width:20px;
  height:20px;
}
#u1208 {
  position:absolute;
  left:-154px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209 {
  position:absolute;
  left:673px;
  top:177px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1209_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:67px;
}
#u1209_seg1 {
  position:absolute;
  left:-4px;
  top:59px;
  width:245px;
  height:8px;
}
#u1209_seg2 {
  position:absolute;
  left:233px;
  top:59px;
  width:8px;
  height:15px;
}
#u1209_seg3 {
  position:absolute;
  left:227px;
  top:61px;
  width:20px;
  height:20px;
}
#u1210 {
  position:absolute;
  left:42px;
  top:55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1211 {
  position:absolute;
  left:414px;
  top:291px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1211_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u1211_seg1 {
  position:absolute;
  left:-30px;
  top:55px;
  width:34px;
  height:8px;
}
#u1211_seg2 {
  position:absolute;
  left:-30px;
  top:55px;
  width:8px;
  height:22px;
}
#u1211_seg3 {
  position:absolute;
  left:-36px;
  top:64px;
  width:20px;
  height:20px;
}
#u1212 {
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1213 {
  position:absolute;
  left:414px;
  top:291px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1213_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u1213_seg1 {
  position:absolute;
  left:-4px;
  top:55px;
  width:278px;
  height:8px;
}
#u1213_seg2 {
  position:absolute;
  left:266px;
  top:55px;
  width:8px;
  height:23px;
}
#u1213_seg3 {
  position:absolute;
  left:260px;
  top:65px;
  width:20px;
  height:20px;
}
#u1214 {
  position:absolute;
  left:65px;
  top:51px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1215 {
  position:absolute;
  left:336px;
  top:474px;
  width:103px;
  height:40px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:11px;
  width:99px;
  word-wrap:break-word;
}
#u1217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1217 {
  position:absolute;
  left:556px;
  top:474px;
  width:103px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1218 {
  position:absolute;
  left:2px;
  top:11px;
  width:99px;
  word-wrap:break-word;
}
#u1219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1219 {
  position:absolute;
  left:449px;
  top:480px;
  width:78px;
  height:29px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u1221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:29px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1221 {
  position:absolute;
  left:669px;
  top:480px;
  width:78px;
  height:29px;
}
#u1222 {
  position:absolute;
  left:2px;
  top:6px;
  width:74px;
  word-wrap:break-word;
}
#u1223 {
  position:absolute;
  left:388px;
  top:408px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1223_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:70px;
}
#u1223_seg1 {
  position:absolute;
  left:-10px;
  top:53px;
  width:20px;
  height:20px;
}
#u1224 {
  position:absolute;
  left:-50px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225 {
  position:absolute;
  left:388px;
  top:408px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u1225_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u1225_seg1 {
  position:absolute;
  left:-4px;
  top:48px;
  width:228px;
  height:8px;
}
#u1225_seg2 {
  position:absolute;
  left:216px;
  top:48px;
  width:8px;
  height:18px;
}
#u1225_seg3 {
  position:absolute;
  left:210px;
  top:53px;
  width:20px;
  height:20px;
}
#u1226 {
  position:absolute;
  left:41px;
  top:44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:478px;
  height:197px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1227 {
  position:absolute;
  left:49px;
  top:807px;
  width:478px;
  height:197px;
}
#u1228 {
  position:absolute;
  left:10px;
  top:10px;
  width:458px;
  word-wrap:break-word;
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1229 {
  position:absolute;
  left:257px;
  top:417px;
  width:40px;
  height:41px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
