body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2014px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2000px;
  height:1362px;
}
#u0 {
  position:absolute;
  left:14px;
  top:22px;
  width:2000px;
  height:1362px;
}
#u1 {
  position:absolute;
  left:2px;
  top:673px;
  width:1996px;
  visibility:hidden;
  word-wrap:break-word;
}
