body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1417px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u719_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:624px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u719 {
  position:absolute;
  left:267px;
  top:74px;
  width:1144px;
  height:624px;
}
#u720 {
  position:absolute;
  left:2px;
  top:304px;
  width:1140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:54px;
  background:inherit;
  background-color:rgba(58, 173, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u721 {
  position:absolute;
  left:16px;
  top:10px;
  width:1401px;
  height:54px;
}
#u722 {
  position:absolute;
  left:2px;
  top:19px;
  width:1397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u723_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u723 {
  position:absolute;
  left:107px;
  top:25px;
  width:109px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u724 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:351px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u725 {
  position:absolute;
  left:69px;
  top:74px;
  width:188px;
  height:351px;
}
#u726 {
  position:absolute;
  left:2px;
  top:168px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:2px;
}
#u727 {
  position:absolute;
  left:74px;
  top:119px;
  width:174px;
  height:1px;
}
#u728 {
  position:absolute;
  left:2px;
  top:-8px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u729_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u729 {
  position:absolute;
  left:133px;
  top:89px;
  width:57px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u730 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u731 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u732 {
  position:absolute;
  left:119px;
  top:135px;
  width:85px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u733 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:2px;
}
#u734 {
  position:absolute;
  left:75px;
  top:170px;
  width:174px;
  height:1px;
}
#u735 {
  position:absolute;
  left:2px;
  top:-8px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u736 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u737_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u737 {
  position:absolute;
  left:119px;
  top:191px;
  width:85px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u738 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:2px;
}
#u739 {
  position:absolute;
  left:75px;
  top:226px;
  width:174px;
  height:1px;
}
#u740 {
  position:absolute;
  left:2px;
  top:-8px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u741 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u742 {
  position:absolute;
  left:134px;
  top:247px;
  width:57px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u743 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:2px;
}
#u744 {
  position:absolute;
  left:75px;
  top:282px;
  width:174px;
  height:1px;
}
#u745 {
  position:absolute;
  left:2px;
  top:-8px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u746 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u747_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u747 {
  position:absolute;
  left:118px;
  top:303px;
  width:89px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u748 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u749_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:2px;
}
#u749 {
  position:absolute;
  left:75px;
  top:338px;
  width:174px;
  height:1px;
}
#u750 {
  position:absolute;
  left:2px;
  top:-8px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u751 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u752 {
  position:absolute;
  left:134px;
  top:359px;
  width:57px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u753 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:2px;
}
#u754 {
  position:absolute;
  left:75px;
  top:394px;
  width:174px;
  height:1px;
}
#u755 {
  position:absolute;
  left:2px;
  top:-8px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:183px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u756 {
  position:absolute;
  left:66px;
  top:708px;
  width:540px;
  height:183px;
}
#u757 {
  position:absolute;
  left:10px;
  top:10px;
  width:520px;
  word-wrap:break-word;
}
#u758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u758 {
  position:absolute;
  left:292px;
  top:87px;
  width:163px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u759 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u760 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u761_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u761 {
  position:absolute;
  left:462px;
  top:247px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u762 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u763 {
  position:absolute;
  left:463px;
  top:398px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u764 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u765_img {
  position:absolute;
  left:-9px;
  top:0px;
  width:19px;
  height:99px;
}
#u765p000 {
  position:absolute;
  left:-47px;
  top:43px;
  width:94px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u765p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:96px;
  height:6px;
}
#u765p001 {
  position:absolute;
  left:-10px;
  top:77px;
  width:20px;
  height:20px;
}
#u765p001_img {
  position:absolute;
  left:0px;
  top:-1px;
  width:20px;
  height:22px;
}
#u765.compound {
  width:0px;
  height:0px;
}
#u765 {
  position:absolute;
  left:512px;
  top:308px;
  width:1px;
  height:90px;
}
#u766 {
  position:absolute;
  left:2px;
  top:38px;
  width:1px;
  word-wrap:break-word;
}
#u767_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u767 {
  position:absolute;
  left:497px;
  top:332px;
  width:31px;
  height:31px;
  font-size:20px;
}
#u768 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  word-wrap:break-word;
}
#u769_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u769 {
  position:absolute;
  left:322px;
  top:323px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u770 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u771 {
  position:absolute;
  left:607px;
  top:323px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u772 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u773_img {
  position:absolute;
  left:-9px;
  top:-9px;
  width:85px;
  height:19px;
}
#u773p000 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:78px;
  height:4px;
}
#u773p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u773p001 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:24px;
  height:19px;
}
#u773p001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u773.compound {
  width:0px;
  height:0px;
}
#u773 {
  position:absolute;
  left:422px;
  top:347px;
  width:75px;
  height:1px;
}
#u774 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u775_img {
  position:absolute;
  left:0px;
  top:-9px;
  width:84px;
  height:19px;
}
#u775p000 {
  position:absolute;
  left:-1px;
  top:-2px;
  width:78px;
  height:4px;
}
#u775p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:80px;
  height:6px;
}
#u775p001 {
  position:absolute;
  left:57px;
  top:-9px;
  width:24px;
  height:19px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u775p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:26px;
  height:20px;
}
#u775.compound {
  width:0px;
  height:0px;
}
#u775 {
  position:absolute;
  left:530px;
  top:347px;
  width:75px;
  height:1px;
}
#u776 {
  position:absolute;
  left:2px;
  top:-8px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u777 {
  position:absolute;
  left:331px;
  top:634px;
  width:140px;
  height:40px;
}
#u778 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u779 {
  position:absolute;
  left:514px;
  top:634px;
  width:140px;
  height:40px;
}
#u780 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u781 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u782 {
  position:absolute;
  left:299px;
  top:122px;
  width:603px;
  height:49px;
}
#u783 {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  word-wrap:break-word;
}
#u784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u784 {
  position:absolute;
  left:321px;
  top:175px;
  width:158px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u785 {
  position:absolute;
  left:2px;
  top:8px;
  width:154px;
  word-wrap:break-word;
}
#u786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1098px;
  height:2px;
}
#u786 {
  position:absolute;
  left:299px;
  top:226px;
  width:1097px;
  height:1px;
}
#u787 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1093px;
  visibility:hidden;
  word-wrap:break-word;
}
