body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1135px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1104px;
  height:656px;
}
#u1090 {
  position:absolute;
  left:31px;
  top:31px;
  width:1104px;
  height:656px;
}
#u1091 {
  position:absolute;
  left:2px;
  top:320px;
  width:1100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#9E9DA2;
}
#u1092 {
  position:absolute;
  left:422px;
  top:157px;
  width:43px;
  height:20px;
  color:#9E9DA2;
}
#u1093 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:282px;
  height:2px;
}
#u1094 {
  position:absolute;
  left:416px;
  top:179px;
  width:281px;
  height:1px;
  color:#9E9DA2;
}
#u1095 {
  position:absolute;
  left:2px;
  top:-8px;
  width:277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1097 {
  position:absolute;
  left:412px;
  top:445px;
  width:285px;
  height:78px;
}
#u1098 {
  position:absolute;
  left:2px;
  top:31px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u1099 {
  position:absolute;
  left:422px;
  top:452px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u1100 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1101 {
  position:absolute;
  left:422px;
  top:480px;
  width:35px;
  height:35px;
  font-size:36px;
}
#u1102 {
  position:absolute;
  left:2px;
  top:-4px;
  width:31px;
  word-wrap:break-word;
}
#u1103 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1104 {
  position:absolute;
  left:412px;
  top:529px;
  width:285px;
  height:78px;
}
#u1105 {
  position:absolute;
  left:2px;
  top:31px;
  width:281px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u1106 {
  position:absolute;
  left:422px;
  top:536px;
  width:37px;
  height:17px;
  font-size:12px;
  color:#000000;
}
#u1107 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u1108 {
  position:absolute;
  left:422px;
  top:564px;
  width:35px;
  height:35px;
  font-size:36px;
}
#u1109 {
  position:absolute;
  left:2px;
  top:-4px;
  width:31px;
  word-wrap:break-word;
}
#u1110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:202px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1110 {
  position:absolute;
  left:31px;
  top:720px;
  width:456px;
  height:202px;
}
#u1111 {
  position:absolute;
  left:10px;
  top:10px;
  width:436px;
  word-wrap:break-word;
}
