body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1259px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u123 {
  position:absolute;
  left:52px;
  top:50px;
  width:199px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u124 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1207px;
  height:199px;
}
#u125 {
  position:absolute;
  left:52px;
  top:85px;
  width:1207px;
  height:199px;
}
#u126 {
  position:absolute;
  left:2px;
  top:92px;
  width:1203px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:566px;
  height:240px;
}
#u127 {
  position:absolute;
  left:52px;
  top:336px;
  width:566px;
  height:240px;
}
#u128 {
  position:absolute;
  left:2px;
  top:112px;
  width:562px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u129 {
  position:absolute;
  left:52px;
  top:301px;
  width:73px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
