body {
  margin:0px;
  background-color:rgba(204, 204, 204, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1417px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1144px;
  height:662px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u870 {
  position:absolute;
  left:267px;
  top:74px;
  width:1144px;
  height:662px;
}
#u871 {
  position:absolute;
  left:2px;
  top:323px;
  width:1140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:54px;
  background:inherit;
  background-color:rgba(58, 173, 251, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u872 {
  position:absolute;
  left:16px;
  top:10px;
  width:1401px;
  height:54px;
}
#u873 {
  position:absolute;
  left:2px;
  top:19px;
  width:1397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u874 {
  position:absolute;
  left:107px;
  top:25px;
  width:109px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:351px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u876 {
  position:absolute;
  left:69px;
  top:74px;
  width:188px;
  height:351px;
}
#u877 {
  position:absolute;
  left:2px;
  top:168px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:2px;
}
#u878 {
  position:absolute;
  left:74px;
  top:119px;
  width:174px;
  height:1px;
}
#u879 {
  position:absolute;
  left:2px;
  top:-8px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u880 {
  position:absolute;
  left:133px;
  top:89px;
  width:57px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u881 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u883 {
  position:absolute;
  left:119px;
  top:135px;
  width:85px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FF0000;
}
#u884 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:2px;
}
#u885 {
  position:absolute;
  left:75px;
  top:170px;
  width:174px;
  height:1px;
}
#u886 {
  position:absolute;
  left:2px;
  top:-8px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u888 {
  position:absolute;
  left:119px;
  top:191px;
  width:85px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:2px;
}
#u890 {
  position:absolute;
  left:75px;
  top:226px;
  width:174px;
  height:1px;
}
#u891 {
  position:absolute;
  left:2px;
  top:-8px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u893 {
  position:absolute;
  left:134px;
  top:247px;
  width:57px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:2px;
}
#u895 {
  position:absolute;
  left:75px;
  top:282px;
  width:174px;
  height:1px;
}
#u896 {
  position:absolute;
  left:2px;
  top:-8px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u898 {
  position:absolute;
  left:118px;
  top:303px;
  width:89px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  white-space:nowrap;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:2px;
}
#u900 {
  position:absolute;
  left:75px;
  top:338px;
  width:174px;
  height:1px;
}
#u901 {
  position:absolute;
  left:2px;
  top:-8px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u903 {
  position:absolute;
  left:134px;
  top:359px;
  width:57px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u904 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:2px;
}
#u905 {
  position:absolute;
  left:75px;
  top:394px;
  width:174px;
  height:1px;
}
#u906 {
  position:absolute;
  left:2px;
  top:-8px;
  width:170px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:183px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u907 {
  position:absolute;
  left:278px;
  top:746px;
  width:540px;
  height:183px;
}
#u908 {
  position:absolute;
  left:10px;
  top:10px;
  width:520px;
  word-wrap:break-word;
}
#u909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u909 {
  position:absolute;
  left:292px;
  top:87px;
  width:163px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u910 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u912 {
  position:absolute;
  left:483px;
  top:243px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u913 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u914 {
  position:absolute;
  left:484px;
  top:564px;
  width:100px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u915 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u917_img {
  position:absolute;
  left:-9px;
  top:0px;
  width:19px;
  height:99px;
}
#u917p000 {
  position:absolute;
  left:-46px;
  top:43px;
  width:94px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u917p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:96px;
  height:6px;
}
#u917p001 {
  position:absolute;
  left:-10px;
  top:77px;
  width:20px;
  height:20px;
}
#u917p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u917.compound {
  width:0px;
  height:0px;
}
#u917 {
  position:absolute;
  left:533px;
  top:304px;
  width:1px;
  height:90px;
}
#u918 {
  position:absolute;
  left:2px;
  top:38px;
  width:1px;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u919 {
  position:absolute;
  left:518px;
  top:328px;
  width:31px;
  height:31px;
  font-size:20px;
}
#u920 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  word-wrap:break-word;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u922_img {
  position:absolute;
  left:-9px;
  top:0px;
  width:19px;
  height:153px;
}
#u922p000 {
  position:absolute;
  left:-74px;
  top:71px;
  width:148px;
  height:2px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u922p000_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:150px;
  height:4px;
}
#u922p001 {
  position:absolute;
  left:-10px;
  top:131px;
  width:20px;
  height:20px;
}
#u922p001_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:22px;
  height:22px;
}
#u922.compound {
  width:0px;
  height:0px;
}
#u922 {
  position:absolute;
  left:533px;
  top:420px;
  width:1px;
  height:144px;
}
#u923 {
  position:absolute;
  left:2px;
  top:64px;
  width:1px;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u924 {
  position:absolute;
  left:518px;
  top:498px;
  width:31px;
  height:31px;
  font-size:20px;
}
#u925 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  word-wrap:break-word;
}
#u926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:231px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u927 {
  position:absolute;
  left:418px;
  top:395px;
  width:231px;
  height:55px;
}
#u928 {
  position:absolute;
  left:2px;
  top:20px;
  width:227px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u929 {
  position:absolute;
  left:430px;
  top:411px;
  width:38px;
  height:24px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u930 {
  position:absolute;
  left:2px;
  top:3px;
  width:34px;
  word-wrap:break-word;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u931 {
  position:absolute;
  left:485px;
  top:413px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u932 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u933 {
  position:absolute;
  left:649px;
  top:423px;
  width:0px;
  height:0px;
  font-size:12px;
}
#u933_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u933_seg1 {
  position:absolute;
  left:44px;
  top:-4px;
  width:8px;
  height:122px;
}
#u933_seg2 {
  position:absolute;
  left:-119px;
  top:110px;
  width:171px;
  height:8px;
}
#u933_seg3 {
  position:absolute;
  left:-119px;
  top:110px;
  width:8px;
  height:31px;
}
#u933_seg4 {
  position:absolute;
  left:-125px;
  top:128px;
  width:20px;
  height:20px;
}
#u934 {
  position:absolute;
  left:-16px;
  top:106px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u935 {
  position:absolute;
  left:505px;
  top:467px;
  width:57px;
  height:20px;
}
#u936 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u937_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u937 {
  position:absolute;
  left:664px;
  top:467px;
  width:71px;
  height:20px;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u939 {
  position:absolute;
  left:678px;
  top:497px;
  width:31px;
  height:31px;
  font-size:20px;
}
#u940 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  word-wrap:break-word;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u941 {
  position:absolute;
  left:326px;
  top:674px;
  width:140px;
  height:40px;
}
#u942 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u943 {
  position:absolute;
  left:509px;
  top:674px;
  width:140px;
  height:40px;
}
#u944 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u945 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:207px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u946 {
  position:absolute;
  left:815px;
  top:291px;
  width:477px;
  height:207px;
}
#u947 {
  position:absolute;
  left:2px;
  top:96px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u948 {
  position:absolute;
  left:847px;
  top:305px;
  width:73px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:456px;
  height:2px;
}
#u950 {
  position:absolute;
  left:829px;
  top:340px;
  width:455px;
  height:1px;
}
#u951 {
  position:absolute;
  left:2px;
  top:-8px;
  width:451px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u952 {
  position:absolute;
  left:847px;
  top:367px;
  width:85px;
  height:20px;
}
#u953 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u954 {
  position:absolute;
  left:946px;
  top:364px;
  width:35px;
  height:25px;
}
#u954_input {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u955 {
  position:absolute;
  left:1000px;
  top:367px;
  width:15px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u956 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u957 {
  position:absolute;
  left:1090px;
  top:454px;
  width:82px;
  height:30px;
}
#u958 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u959 {
  position:absolute;
  left:1195px;
  top:454px;
  width:80px;
  height:30px;
}
#u960 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u962 {
  position:absolute;
  left:299px;
  top:122px;
  width:603px;
  height:49px;
}
#u963 {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:36px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u964 {
  position:absolute;
  left:321px;
  top:175px;
  width:158px;
  height:36px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u965 {
  position:absolute;
  left:2px;
  top:8px;
  width:154px;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1098px;
  height:2px;
}
#u966 {
  position:absolute;
  left:299px;
  top:226px;
  width:1097px;
  height:1px;
}
#u967 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1093px;
  visibility:hidden;
  word-wrap:break-word;
}
